<header>

  <div class="top-header">
      <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
      <div class="buscador">
          <div class="input">Buscar productos, marcas</div>
          <div class="lupa">
              <i class="fa fa-search"></i>
          </div>
      </div>
      <p> <i class="fas fa-hand-holding-usd" ></i> Compra en cuotas y sin tarjeta de credito</p>
  </div>
 
  
  <nav>

      <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="/">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
      </ul>

      <ul>
          <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-id-card"></i> </a></li>
          <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i> </a></li>
          <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i> </a></li>
      </ul>

     

  </nav>

  <div class="burger-menu">
      <i class="fa fa-bars burger"></i>
  </div>
  

</header>
